.person-item {
  display: flex;
  gap: 12px;
}

.person-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.description-p {
  color: #666666;
}

.avatar {
  width: 96px;
  height: 96px;
}

@media screen and (max-width: 375px) {
  .person-item {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .person-detail {
    justify-content: center;
    align-items: center;
  }
}
